.paragraph {
  font-size: $medium;
  font-family: $roboto;
  font-weight: $regular;
  color: $nickel;
  line-height: 50px;
  padding-bottom: 20px;
}

.date {
  font-size: $large;
  font-family: $playfair;
  font-weight: $regular;
  color: $nickel;
}

h2 {
  font-size: $x-large;
  font-family: $playfair;
  text-align: center;
  font-style: italic;
  padding-bottom: 10px;
}

h3 {
  font-family: $roboto;
  font-size: $large;
  text-align: center;
  color: $spanish-pink;
}

.author__img {
  border-radius: 200px;
  width: auto;
  padding-bottom: 10px;
  display: block;
  margin: auto;
}
